.color {
    background-color: #FFFBFC;
}

.font {
    font-family: 'Noto Sans', sans-serif;
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    padding: 10em inherit;
    min-height: 500px;
    padding-top: 20%;
    padding-bottom: 20%;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
}

.jumbotron h1, h3 {
    margin-top: 15%;
}

.btn-color {
    background-color: #555863 !important;
}

.icon-space {
    padding: 10px;
    text-align: center;
    color: #555863;
    margin-top: 10px;
    margin-right: 1em;
    margin-bottom: 10px;
}

footer {
    background-color: #555863;
    color: white;
    font-size: 13px;
}

.link-color {
    color: white;
}

.footer-space {
    padding-top: 1em;
}

.extra-space {
    padding-top: 10px;
}

.list-margin {
    margin: 4em;
    text-align: left;
}

.extra-margin {
    text-align: center;
}

.font-style {
    font-family: 'Noto Sans', sans-serif;
}

.heading-space {
    padding-top: 50px;
}

.list-font {
    font-size: 18px;
}

h2 {
    padding-top: 50px;
}

.weight {
    font-weight: lighter;
}

.typing {
    color: gray;
    font-weight: lighter;
}

.underline:after {
    background: none repeat scroll 0 0 #555863;
    bottom: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 150px;
    margin: auto;
}

.width {
    column-width: 200px;
}

.service-margin {
    margin-top: 3em;
}

.list-align {
    text-align: left;
}

.font-size {
    font-size: 14px;
}

.icon-color {
    color: #ADCAB0;
}

.line-break {
    display: block;
}

.lw-col {
    max-width: 300px;
    max-height: auto;
    text-align: center;
    margin: auto;
    padding: auto;
}

.icon-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: column;
}

.home-color {
    color: #FFE7E7 !important;
}